@import '../../styles/_variables.scss';
.kant-record-item{
	background: $kant-blue;
	border-radius: 4px;
	padding: 10px;
	color: $kant-grey;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 1px 1px 2px $kant-black;
	margin-bottom: 20px;
	cursor: pointer;
}
.kant-record-item__tommorow{
	background: $kant-black;
}
.kant-record-item__period{
	font-size: 20px;
	margin-right: 10px;
}
.kant-record-item__name{
	overflow: hidden;
	white-space: nowrap;
	font-size: 18px;
	text-overflow: ellipsis;
	color: $kant-grey;
	font-weight: 600;
}
.kant-record-item__description{
	overflow: hidden;
	white-space: nowrap;
	display: flex;
	align-items: center;
}