$kant-black: #000000;
$kant-white: #ffffff;
$kant-grey: #ebebeb;
$kant-light-grey: #f0efef;
$kant-blue: #435a9e;
$kant-dark-blue: #2d3d6f;
$kant-light-blue: #cdd3e8;
$kant-error: #AA0000;
$kant-error-light:#FFDEDD;
$kant-border-input: #333333;
$kant-green: #5fcf56;
$kant-yellow: #f6f16b;
$kant-border-detail: #0e1c49;
$kant-blue-phone: #0945ff;