 @import '../../styles/variables.scss';
 .kant-header {
	background: $kant-black;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.kant-logo{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	img{
		// width: 100%;
		height: 38px;
	}
}